{% extends 'Golf_Journal/base.html' %}
{% block head %}

    <section id="main">
                    <div class="container1">
                       <article id="main-col">
                       <h1 class="page-title">About Us</h1>
                       <ul id="services">
                           <li>
                               <h3 class="about-title">Tracking</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dictum neque. Mauris viverra in dolor at iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dictum neque. Mauris viverra in dolor at iaculis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dictum neque. Mauris viverra in dolor at iaculis </p>
                               <p><i>"The Tracking on the Golf Jounral app is so accurate. It's really improved my game!"</i> - John McMillan</p>
                           </li>
                           <li>
                               <h3 class="about-title">My Courses</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dictum neque. Mauris viverra in dolor at iaculis.</p>
                               <p><i>"I love that I have access to past courses I've played on and can compare my progress"</i> - Saoirshe Doherty</p>
                           </li>
                           <li>
                               <h3 class="about-title">Community Courses</h3>
                               <p>Praesent condimentum, elit quis dignissim cursus, ligula lectus congue elit, a tristique sapien dui ac dui. Aliquam hendrerit erat vitae dolor vestibulum, ac volutpat diam ullamcorper.</p>
                               <p><i>"The Tracking on the Golf Jounral app is so accurate. It's really improved my game!"</i> - John McMillan</p>
                           </li>
                       </ul>
                       </article>
                       <aside id="sidebar">
                           <div class="dark">
                               <h3>Get In Touch</h3>
                               <form class="quote">
                                   <div>
                                       <label>Name</label><br>
                                       <input type="text" placeholder="Name">
                                   </div>
                                   <div>
                                       <label>Email</label><br>
                                       <input type="email" placeholder="Email Address">
                                   </div>
                                   <div>
                                       <label>Message</label><br>
                                    <textarea placeholder="Message"></textarea>
                                   </div>
                                   <button class="button_1" type="submit">Send</button>
                               </form>
                           </div>
                       </aside>
                    </div>
                </section>

	<footer>
		<p>GolfJournal, Copyright &copy; 2019</p>
	</footer>
{% endblock %}

{% block content %}
{% endblock content %}
