{% extends 'Golf_Journal/base.html' %}
{% block head %}

    <section id="main">
                    <div class="container1">
                       <article id="main-col">
                       <h1 class="page-title">About Us</h1>
                       <ul id="services">
                           <li>
                               <h3 class="about-title">Tracking</h3>
                               <p></p>
                               <p><i>"The Tracking on the Golf Tracker app is so accurate. It's really improved my game!"</i> - John McMillan</p>
                           </li>
                           <li>
                               <h3 class="about-title">My Courses</h3>
                               <p></p>
                               <p><i>"I love that I have access to past courses I've played on and can compare my progress"</i> - Saoirshe Doherty</p>
                           </li>
                           <li>
                               <h3 class="about-title">Community Courses</h3>
                               <p></p>
                               <p><i>"The Tracking on the Golf Tracker app is so accurate. It's really improved my game!"</i> - John McMillan</p>
                           </li>
                       </ul>
                       </article>
                       <aside id="sidebar">
                           <div class="dark">
                               <h3>-Get In Touch-</h3>
                               <form class="quote">
                                   <div>
                                       <label>Name</label><br>
                                       <input type="text" placeholder="Name">
                                   </div>
                                   <div>
                                       <label>Email</label><br>
                                       <input type="email" placeholder="Email Address">
                                   </div>
                                   <div>
                                       <label>Message</label><br>
                                    <textarea placeholder="Message"></textarea>
                                   </div>
                                   <button class="button_1" type="submit">Send</button>
                               </form>
                           </div>
                       </aside>
                    </div>
                </section>

{% endblock %}

{% block content %}
{% endblock content %}
