<table class="table table-bordered table-hover" id="communityCourseTableId">
    <thead class="alert-success">
        <tr>
            <th>User</th>
            <th>Course Name</th>
            <th>Hole Number</th>
            <th>Distance</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for hole in holes %}
        <tr>
            <td>{{ hole.game.user.username }}</td>
            <td>{{ hole.game.courseName }}</td>
            <td>{{ hole.hole_number }}</td>
            <td>{{ hole.distance_yards}} Yards</td>
            <td>
                <div class="btn-group" role="group" aria-label="Actions">
                  <button type="button" name="{{ hole.id }}" class="btn btn-secondary show-on-map-event">Show on Map</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>