<!-- Modal for allowing users to create new course-->
<div class="modal fade bd-example-modal-lg" id="createCourseHoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Hole</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="courseNameInput">Hole Name</label>
                    </div>
                <select class="custom-select" id="courseNameInput">
                    {% for hole in holeNumbers %}
                    <option value="{{ hole.0 }}">{{ hole.1 }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        </form
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="createHoleSaveButton" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>