<table class="table table-bordered table-hover" id="golfCourseTableId">
    <thead class="alert-success">
        <tr>
            <th>Course Name</th>
            <th>Location</th>
            <th>Date Played</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.courseName }}</td>
            <td>{{ game.location }}</td>
            <td>{{ game.datePlayed }}</td>
            <td>{{ game.notes }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Actions">
                  <button type="button" name="{{ game.id }}" class="btn btn-secondary edit">Edit</button>
                  <button type="button" name="{{ game.id }}" class="btn btn-secondary delete delete-event">Delete</button>
                  <button type="button" name="{{ game.id }}" class="btn btn-secondary track-event">Track Now</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>