
{% extends 'Golf_Journal/base.html' %}
{% block head %}

	<section id="showcase">
		<div class="container1">
			<h1>Golf Course Tracking App</h1>
			<p>If you love the game of golf and want to keep getting better at it, one of the best things you can do is to keep track of your game!</p>
		</div>
</section>
<section id="boxes">
	<div class="container1">
		   <div class="box">
			   <i class="fas fa-map-marker-alt fa-5x"></i>
				<h3>Tracking</h3>
				<p>Keep Track of your game of golf while you play</p>
		</div>
		<div class="box">
			 <i class="fas fa-golf-ball fa-5x"></i>
				<h3>My Courses</h3>
				<p>Check how you did and compare it to your previous attempts</p>
		</div>
		<div class="box">
			<i class="fas fa-users fa-5x"></i>
				<h3>Community Courses</h3>
				<p>Check how your friends did</p>
		</div>
		</div>
</section>
{% endblock %}

{% block content %}

{% endblock content %}

{% block body %}
<br />
{% endblock %}
