
{% extends 'Golf_Journal/base.html' %}
{% block head %}

	<section id="showcase">
		<div class="container1">
			<h1>Golf Course Tracking App</h1>
			<p>If you love the game of golf and want to keep getting better at it, one of the best things you can do is to keep track of your game!</p>
		</div>
</section>
<section id="boxes">
	<div class="container1">
		   <div class="box">
			   <i class="fas fa-map-marker-alt fa-5x"></i>
				<h3>Tracking</h3>
				<p>Lorum ipsum sempur catta sis ciss jksjdhjf drag oot. Ghor true defin urgot.</p>
		</div>
		<div class="box">
			 <i class="fas fa-golf-ball fa-5x"></i>
				<h3>My Courses</h3>
				<p>Lorum ipsum sempur catta sis ciss jksjdhjf drag oot. Ghor true defin urgot.</p>
		</div>
		<div class="box">
			<i class="fas fa-users fa-5x"></i>
				<h3>Community Courses</h3>
				<p>Lorum ipsum sempur catta sis ciss jksjdhjf drag oot. Ghor true defin urgot.</p>
		</div>
		</div>
</section>

	<footer>
		<p>GolfJournal, Copyright &copy; 2019</p>
	</footer>
{% endblock %}

{% block content %}

{% endblock content %}
