
{% extends 'Golf_Journal/base.html' %}
{% block head %}
            <h1> Home </h1>

    <section id="showcase">
			<div class="container1">
				<h1>Golf Tracker</h1>
				<p>Lorum ipsum sempur catta sis ciss jksjdhjf drag oot. Ghor true defin urgot.</p>
			</div>
    </section>



        <section id="boxes">
			<div class="container1">
	   			 <div class="box">
	   			 <i class="fas fa-map-marker-alt fa-5x"></i>
	   			 <h3>Tracking</h3>
	   			 <p>Track your first course here now.</p>
			</div>
	    	<div class="box">
                 <i class="fas fa-golf-ball fa-5x"></i>
	   			 <h3>My Courses</h3>
	   			 <p>Check out your tracked data here by logging in.</p>
			</div>
	    	<div class="box">
   			 <i class="fas fa-users fa-5x"></i>
	   			 <h3>Community Courses</h3>
	   			 <p>Check out others tracked course to see how they did</p>
			</div>
		    </div>
		</section>

        <footer>
			<p>Killian Walsh, Copyright &copy; 2018</p>
		</footer>
{% endblock %}


{% block content %}


{% endblock content %}
