{% extends 'Golf_Journal/base.html' %}
{% load static %}
{% block head %}
    <div class="tracking">
        <h1>Track Your Game</h1>
    </div>
{% endblock %}
{% block content %}
    <div id="map-holder">
        <div class="container fill">
            <div id="map">
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
                      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
                      crossorigin=""/>
            </div>
            <div id="startTrackingDiv" class="trackNow">
                <button class="btn" onclick="startGeoLocationTracking()">Start Tracking</button>
            </div>
            <div id="stopTrackingDiv" class="trackNow">
                <button class="btn btn-destructive" onclick="stopGeoLocationTracking()">Stop Tracking</button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}
    <script src="{% static 'Golf_Journal/js/trackNowScript.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
                    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
                    crossorigin="">
    </script>
{% endblock js %}
