html {
  position: relative;
  min-height: 100%;
}

body {
  font: 15px/1.5 sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  /*color: #444444;*/
}

ul {
  margin: 0;
  padding: 0;
}

.button_1{
	height: 38px;
	background: #e8491d;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
}

/* Global */
.container1{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

/* Header */
header nav{
	border-bottom: orange 3px solid;
}

/* Showcase */
#showcase{
	min-height: 61.5vh;
    /*background-image: linear-gradient(to right bottom, rgba(104, 92, 121, 0.6), rgba(69, 92, 123, 0.6)), url('images/icons/background.jpg');*/
    background-image: linear-gradient(to right bottom, rgba(18, 16, 20, 0.6), rgba(24, 32, 43, 0.6)), url('images/icons/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
	  text-align: center;
	  color: #FFFFFF;
    border-top: orange 3px solid;
    border-bottom: orange 3px solid;
}

#showcase h1{
	margin-top: 150px;
	font-size: 65px;
  margin-bottom: 10px;
  font-family: 'Monoton', cursive;
}

#showcase p{
  font-size: 35px;
  margin-top: 36px;
  font-family: 'Lilita One', cursive;
  letter-spacing: .5px;
}
/* Showcase end */

/* Boxes */
#boxes{
  margin-top:55px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 33%;
  padding: 20px;
}

#boxes h3{
    font-family: 'Lilita One', cursive;
    margin-top: 20px;
}

#boxes p{
    font-family: Lato;
    margin-top: 20px;
    font-size: 25px;
}

#boxes .box .fas{
	width: 90px;
}
/* Boxes end */

a {
  font-size: 18px;
}

.bg-steel {
  background-image: linear-gradient(to right, #45BF55, green);
}
.site-header .navbar-nav .nav-link {
  /* background-image: url('images/background.jpg') no-repeat; */
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: orange;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
	color: orange;
}

.content-section {
  background: orange;
  padding: 10px 20px;
  border: 4px solid #dddddd;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  border-radius: 3px;
  margin-bottom: 334px;
  margin-top: 120px;
}

.content-section-a {
  background: orange;
  padding: 20px;
  border: 4px solid #dddddd;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  border-radius: 3px;
  margin-top: 120px;
  margin-bottom: 93px;
}

.account-heading{
    color: white;
    font-family: Lato;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.text-secondary{
    color: white;
    font-family: Lato;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 2px;
}

legend{
    color: white;
        font-size: 28px;
    font-family: 'Faster One', cursive;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.fas{
  margin-top: 10px;
}

#boxes p{
  margin-top: 15px;
}

/* Tracking */

.tracking{
	text-align: center;
  margin-top: 100px;
}

.tracking h1 {
  text-align: center;
  color: #45BF55;
  font-family: 'Faster One', cursive;
}

/* Map */
#map {
  height: 50%;
  margin: 60px auto 50px auto;
  width:80%;
  height:450px;
  border: 2px solid orange;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
}

/* buttons */

.trackNow {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 60px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 100px;
  transition: all .2s;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  background-color: #45BF55;
  color: #fff;
  border-color: none;
}

.btn-destructive {
    background-color: red;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.btn::after { /* when we hover the button, we want some styles to show using the after pseudo element */
  transform: scaleX(1.4) scaleY(1.6); /* scales the size of the effect */
  opacity: 0; /* fades out the after pseudo element button whn hovered - basically sets opacity invisble */
}

.btn:active { /* active here is when a button is 'clicked' */
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.20);
}
/* Buttons end */

/* Sidebar */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:55px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding:5px;
}
/* Sidebar end */

/* main-col */

#main {
  margin-top: 55px;
  margin-bottom: 110px;
}
article#main-col{
	float:left;
	width:65%;
}

/* About */
ul#services li{
  list-style: none;
	padding: 35px;
	border: orange solid 1px;
	margin-bottom: 5px;
  background: #e6e6e6;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
}

ul#default li{
  list-style: none;
	margin-bottom: 5px;
}

.page-title {
padding-top: 50px;
padding-bottom: 10px;
font-family: 'Faster One', cursive;
text-align: center;
color: #45BF55;
}

.about-title {
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'Faster One', cursive;
  color: #45BF55;
  }
/* About end */

  /* My Courses */

  .wrapper.fullscreen {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
  }

  #intro.mycourses {
    min-height: 100.5vh;
		background-attachment: fixed;
		background-image: linear-gradient(to right bottom, rgba(18, 16, 20, 0.6), rgba(24, 32, 43, 0.6)), url("images/icons/my-courses2.jpg");
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		/*clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);*/
  }

  @media only screen and (max-width: 628px) {

    #intro.mycourses {
        background-attachment: scroll;
  }
}

  /* Track Now */
    #intro.trackNow {
    min-height: 100.5vh;
		background-attachment: fixed;
		background-image: linear-gradient(to right bottom, rgba(18, 16, 20, 0.6), rgba(24, 32, 43, 0.6)), url("images/icons/track-now.jpg");
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		/*clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);*/
  }

  @media only screen and (max-width: 628px) {

    #intro.trackNow {
        background-attachment: scroll;
  }
}







  /* Community Courses */

  #intro.community {
    min-height: 100.5vh;
		background-attachment: fixed;
		background-image: linear-gradient(to right bottom, rgba(18, 16, 20, 0.6), rgba(24, 32, 43, 0.6)), url("images/icons/community-courses.jpg");
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		/*clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);*/
  }

  @media only screen and (max-width: 628px) {

    #intro.community {
        background-attachment: scroll;
  }
}

  #intro h1 {
    font-weight: 600;
    font-size: 5em;
    text-shadow: 2px 2px #FFBC67;
    text-align: center;
  }

  .mycourses-primary {
    text-transform: uppercase;
  }

    #intro h3 {
    font-weight: 400;
    font-size: 2em;
    text-shadow: 2px 2px #FFBC67;
    text-align: center;
  }

    .mycourses-primary-2 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 15px;
  }


  .mycourses-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 15px;
    color: #fff;
    font-family: "Lato";
    margin-bottom: 90px;
    text-shadow: none;
    text-align: center;
  }

    .mycourses-primary-main-2 {
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 15px;
    color: #fff;
    font-family: "Lato";
    margin-bottom: 70px;
    text-shadow: none;
    text-align: center;
  }
  /* My Courses end */

  .community-primary {
    text-transform: uppercase;
  }

  .community-primary-main {
    display: block;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 9px;
    color: #fff;
    font-family: "Lato";
    margin-bottom: 60px;
    text-shadow: none;
    text-align: center;
  }
  /* Community Courses end */
    /* Logout */

    .border-top{
        margin-top: 58px;
        margin-bottom: 638px;
    }

   .border-top h1{
        font-family: 'Faster One', cursive;
        color: #45BF55;
        text-align: center;
        padding-bottom: 10px;
    }

    .log-button{
                 text-align: center;
    }
  /* Footer */

footer{
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
	color: #FFFFFF;
	background-color: green;
	text-align: center;
  background-image: linear-gradient(to right, #45BF55, green);
}

.footerMap{
  position: relative;
  left: 0;
  bottom: 0;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
	color: #FFFFFF;
	background-color: green;
	text-align: center;
  background-image: linear-gradient(to right, #45BF55, green);
}

footer p{
  padding-top: 10px;
}

.pMap{
  padding-top: 10px;
}


/* Footer End */

/* Table Scroll START */

.table-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}



body { background: @bg;}
a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 5% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Table Scroll END */